@model Monoapp.Data.ViewModels.VehicleModelViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>VehicleModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           Make Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VehicleMake.Name)
        </dd>

        <dt>
           Model Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
           Model Abrv
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Abrv)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ModelId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
