@model PagedList.IPagedList<Monoapp.Data.ViewModels.VehicleModelViewModel>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "VehicleModel";
}

<h2>Vehicle Model</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm("Index", "VehicleModels", FormMethod.Get))
{
    <p>
        Search by Make: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Model Name", "Index", new { SortOrder = ViewBag.NamesortParm, CurrentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Make Name", "Index", new { SortOrder = ViewBag.ConectionsortParam, CurrentFilter = ViewBag.CurrentFilter })
        </th>
        
        <th>
            @Html.ActionLink("Model Abrv", "Index", new { SortOrder = ViewBag.Abrv, CurrentFilter = ViewBag.CurrentFilter })
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VehicleMake.Name)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.Abrv)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ModelId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ModelId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ModelId })
        </td>
    </tr>
}

</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, SortOrder = ViewBag.CurrentSort, CurrentFilter = ViewBag.CurrentFilter }))