@model IEnumerable<Monoapp.ViewModels.VehicleModelViewModel>
@{
    ViewBag.Title = "VehicleModel";
}

<h2>Vehicle Model</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm("Index", "VehicleModels", FormMethod.Get))
{
    <p>
        Search by Make: @Html.TextBox("searchByName", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
        <span> @Html.ActionLink("Clear", "Index", new { page = 1 })</span>
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Model Name", "Index", new { SortOrder = ViewBag.NamesortParm, CurrentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Make Name", "Index", new { SortOrder = ViewBag.ConectionsortParam, CurrentFilter = ViewBag.CurrentFilter })
        </th>

        <th>
            @Html.ActionLink("Model Abrv", "Index", new { SortOrder = ViewBag.Abrv, CurrentFilter = ViewBag.CurrentFilter })
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VehicleMake.Name)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Abrv)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ModelId }) |
                @Html.ActionLink("Details", "Details", new { id = item.ModelId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ModelId })
            </td>
        </tr>
    }

</table>
<br />
@if (ViewBag.CurrentSort == "Name_Desc" && ViewBag.search == null)
{
    if (ViewBag.page != 1)
    {
        <span> @Html.ActionLink("<", "Index", new { page = ViewBag.page - 1, sortOrder = "Name_Desc" })</span>
    }
    int i = ViewBag.page;
    if (i == ViewBag.totalPageNumbers && i != 1)
    {
        <span>@Html.ActionLink((i - 1).ToString(), "Index", new { page = i - 1, sortOrder = "Name_Desc" })</span>
        <span>@Html.ActionLink((i).ToString(), "Index", new { page = i, sortOrder = "Name_Desc" })</span>
    }
    else if (ViewBag.totalPageNumbers == 1)
    {
        <span>@Html.ActionLink((i).ToString(), "Index", new { page = i, sortOrder = "Name_Desc" })</span>
    }
    else
    {
        <span>@Html.ActionLink((i).ToString(), "Index", new { page = i, sortOrder = "Name_Desc" })</span>
        <span>@Html.ActionLink((i + 1).ToString(), "Index", new { page = i + 1, sortOrder = "Name_Desc" })</span>
        <span>@Html.ActionLink(">", "Index", new { page = i + 1, sortOrder = "Name_Desc" })</span>
    }
}
else if (ViewBag.CurrentSort == "Abrv_Desc" && ViewBag.search == null)
{
    if (ViewBag.page != 1)
    {
        <span> @Html.ActionLink("<", "Index", new { page = ViewBag.page - 1, sortOrder = "Abrv_Desc" })</span>
    }
    int i = ViewBag.page;
    if (i == ViewBag.totalPageNumbers && i != 1)
    {
        <span>@Html.ActionLink((i - 1).ToString(), "Index", new { page = i - 1, sortOrder = "Abrv_Desc" })</span>
        <span>@Html.ActionLink((i).ToString(), "Index", new { page = i, sortOrder = "Abrv_Desc" })</span>
    }
    else if (ViewBag.totalPageNumbers == 1)
    {
        <span>@Html.ActionLink((i).ToString(), "Index", new { page = i, sortOrder = "Abrv_Desc" })</span>
    }
    else
    {
        <span>@Html.ActionLink((i).ToString(), "Index", new { page = i, sortOrder = "Abrv_Desc" })</span>
        <span>@Html.ActionLink((i + 1).ToString(), "Index", new { page = i + 1, sortOrder = "Abrv_Desc" })</span>
        <span>@Html.ActionLink(">", "Index", new { page = i + 1, sortOrder = "Abrv_Desc" })</span>
    }

}
else if (ViewBag.CurrentSort == "Connection_Desc" && ViewBag.search == null)
{
    if (ViewBag.page != 1)
    {
        <span> @Html.ActionLink("<", "Index", new { page = ViewBag.page - 1, sortOrder = "Connection_Desc" })</span>
    }
    int i = ViewBag.page;
    if (i == ViewBag.totalPageNumbers && i != 1)
    {
        <span>@Html.ActionLink((i - 1).ToString(), "Index", new { page = i - 1, sortOrder = "Connection_Desc" })</span>
        <span>@Html.ActionLink((i).ToString(), "Index", new { page = i, sortOrder = "Connection_Desc" })</span>
    }
    else if (ViewBag.totalPageNumbers == 1)
    {
        <span>@Html.ActionLink((i).ToString(), "Index", new { page = i, sortOrder = "Connection_Desc" })</span>
    }
    else
    {
        <span>@Html.ActionLink((i).ToString(), "Index", new { page = i, sortOrder = "Connection_Desc" })</span>
        <span>@Html.ActionLink((i + 1).ToString(), "Index", new { page = i + 1, sortOrder = "Connection_Desc" })</span>
        <span>@Html.ActionLink(">", "Index", new { page = i + 1, sortOrder = "Connection_Desc" })</span>
    }

}
else if (ViewBag.CurrentSort == null && ViewBag.search == null)
{
    if (ViewBag.page != 1)
    {
        <span> @Html.ActionLink("<", "Index", new { page = ViewBag.page - 1 })</span>
    }
    int i = ViewBag.page;
    if (i == ViewBag.totalPageNumbers && i != 1)
    {
        <span>@Html.ActionLink((i - 1).ToString(), "Index", new { page = i - 1 })</span>
        <span>@Html.ActionLink((i).ToString(), "Index", new { page = i })</span>
    }
    else if (ViewBag.totalPageNumbers == 1)
    {
        <span>@Html.ActionLink((i).ToString(), "Index", new { page = i })</span>
    }
    else
    {
        <span>@Html.ActionLink((i).ToString(), "Index", new { page = i })</span>
        <span>@Html.ActionLink((i + 1).ToString(), "Index", new { page = i + 1 })</span>
        <span>@Html.ActionLink(">", "Index", new { page = i + 1 })</span>
    }
}
else if (ViewBag.CurrentSort == "Name_Desc" && ViewBag.search != null)
{
    if (ViewBag.page != 1)
    {
        <span> @Html.ActionLink("<", "Index", new { page = ViewBag.page - 1, searchByName = ViewBag.search, sortOrder = "Name_Desc" })</span>
    }
    int i = ViewBag.page;
    if (i == ViewBag.totalPageNumbers && i != 1)
    {
        <span>@Html.ActionLink((i - 1).ToString(), "Index", new { page = i - 1, searchByName = ViewBag.search, sortOrder = "Name_Desc" })</span>
        <span>@Html.ActionLink((i).ToString(), "Index", new { page = i, searchByName = ViewBag.search, sortOrder = "Name_Desc" })</span>

    }
    else if (ViewBag.totalPageNumbers == 1)
    {
        <span>@Html.ActionLink((i).ToString(), "Index", new { page = i, searchByName = ViewBag.search, sortOrder = "Name_Desc" })</span>
    }
    else
    {
        <span>@Html.ActionLink((i).ToString(), "Index", new { page = i, searchByName = ViewBag.search, sortOrder = "Name_Desc" })</span>
        <span>@Html.ActionLink((i + 1).ToString(), "Index", new { page = i + 1, searchByName = ViewBag.search, sortOrder = "Name_Desc" })</span>
        <span>@Html.ActionLink(">", "Index", new { page = i + 1, searchByName = ViewBag.search, sortOrder = "Name_Desc" })</span>
    }
}
else if (ViewBag.CurrentSort == "Abrv_Desc" && ViewBag.search != null)
{
    if (ViewBag.page != 1)
    {
        <span> @Html.ActionLink("<", "Index", new { page = ViewBag.page - 1, searchByName = ViewBag.search, sortOrder = "Abrv_Desc" })</span>
    }
    int i = ViewBag.page;
    if (i == ViewBag.totalPageNumbers && i != 1)
    {
        <span>@Html.ActionLink((i - 1).ToString(), "Index", new { page = i - 1, searchByName = ViewBag.search, sortOrder = "Abrv_Desc" })</span>
        <span>@Html.ActionLink((i).ToString(), "Index", new { page = i, searchByName = ViewBag.search, sortOrder = "Abrv_Desc" })</span>
    }
    else if (ViewBag.totalPageNumbers == 1)
    {
        <span>@Html.ActionLink((i).ToString(), "Index", new { page = i, searchByName = ViewBag.search, sortOrder = "Abrv_Desc" })</span>
    }
    else
    {
        <span>@Html.ActionLink((i).ToString(), "Index", new { page = i, searchByName = ViewBag.search, sortOrder = "Abrv_Desc" })</span>
        <span>@Html.ActionLink((i + 1).ToString(), "Index", new { page = i + 1, searchByName = ViewBag.search, sortOrder = "Abrv_Desc" })</span>
        <span>@Html.ActionLink(">", "Index", new { page = i + 1, searchByName = ViewBag.search, sortOrder = "Abrv_Desc" })</span>
    }
}
else if (ViewBag.CurrentSort == "Connection_Desc" && ViewBag.search != null)
{
    if (ViewBag.page != 1)
    {
        <span> @Html.ActionLink("<", "Index", new { page = ViewBag.page - 1, searchByName = ViewBag.search, sortOrder = "Connection_Desc" })</span>
    }
    int i = ViewBag.page;
    if (i == ViewBag.totalPageNumbers && i != 1)
    {
        <span>@Html.ActionLink((i - 1).ToString(), "Index", new { page = i - 1, searchByName = ViewBag.search, sortOrder = "Connection_Desc" })</span>
        <span>@Html.ActionLink((i).ToString(), "Index", new { page = i, searchByName = ViewBag.search, sortOrder = "Connection_Desc" })</span>
    }
    else if (ViewBag.totalPageNumbers == 1)
    {
        <span>@Html.ActionLink((i).ToString(), "Index", new { page = i, searchByName = ViewBag.search, sortOrder = "Connection_Desc" })</span>
    }
    else
    {
        <span>@Html.ActionLink((i).ToString(), "Index", new { page = i, searchByName = ViewBag.search, sortOrder = "Connection_Desc" })</span>
        <span>@Html.ActionLink((i + 1).ToString(), "Index", new { page = i + 1, searchByName = ViewBag.search, sortOrder = "Connection_Desc" })</span>
        <span>@Html.ActionLink(">", "Index", new { page = i + 1, searchByName = ViewBag.search, sortOrder = "Connection_Desc" })</span>
    }
}
else if (ViewBag.CurrentSort == null && ViewBag.search != null)
{
    if (ViewBag.page != 1)
    {
        <span> @Html.ActionLink("<", "Index", new { page = ViewBag.page - 1, searchByName = ViewBag.search })</span>
    }
    int i = ViewBag.page;
    if (i == ViewBag.totalPageNumbers && i != 1)
    {

        <span>@Html.ActionLink((i - 1).ToString(), "Index", new { page = i - 1, searchByName = ViewBag.search })</span>
        <span>@Html.ActionLink((i).ToString(), "Index", new { page = i, searchByName = ViewBag.search })</span>
    }
    else if (ViewBag.totalPageNumbers == 1)
    {
        <span>@Html.ActionLink((i).ToString(), "Index", new { page = i, searchByName = ViewBag.search })</span>
    }
    else
    {
        <span>@Html.ActionLink((i).ToString(), "Index", new { page = i, searchByName = ViewBag.search })</span>
        <span>@Html.ActionLink((i + 1).ToString(), "Index", new { page = i + 1, searchByName = ViewBag.search })</span>
        <span>@Html.ActionLink(">", "Index", new { page = i + 1, searchByName = ViewBag.search })</span>
    }
}
