@model IEnumerable<Monoapp.ViewModels.VehicleMakeViewModel>


@{
    ViewBag.Title = "VehicleMake";
}

<h2>VehicleMake</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm())
{
    <p>
        Find by name: @Html.TextBox("searchByName")
        <input type="submit" value="Search" />
        <span> @Html.ActionLink("Clear", "Index", new { page = 1})</span>

    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("MakeName", "Index", new { sortOrder = ViewBag.NamesortParm2, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Abrv", "Index", new { sortOrder = ViewBag.Abrv2, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Abrv)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.MakeId }) |
                @Html.ActionLink("Details", "Details", new { id = item.MakeId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.MakeId })
            </td>
        </tr>
    }
    

</table>
<br />

@if (ViewBag.CurrentSort == "name_desc" && ViewBag.search == null)
{
    if (ViewBag.page != 1)
    {
        <span> @Html.ActionLink("<", "Index", new { page = ViewBag.page - 1, sortOrder = "name_desc" })</span>
    }
    int i = ViewBag.page;
    if (i == ViewBag.totalPageNumbers && i != 1)
    {
        <span>@Html.ActionLink((i - 1).ToString(), "Index", new { page = i - 1, sortOrder = "name_desc" })</span>
        <span>@Html.ActionLink((i).ToString(), "Index", new { page = i, sortOrder = "name_desc" })</span>
    }
    else if (ViewBag.totalPageNumbers == 1)
    {
        <span>@Html.ActionLink((i).ToString(), "Index", new { page = i, sortOrder = "name_desc" })</span>
    }
    else 
    {
        <span>@Html.ActionLink((i).ToString(), "Index", new { page = i, sortOrder = "name_desc" })</span>
        <span>@Html.ActionLink((i + 1).ToString(), "Index", new { page = i + 1, sortOrder = "name_desc" })</span>
        <span>@Html.ActionLink(">", "Index", new { page = i + 1, sortOrder = "name_desc" })</span>
    }
    


}
else if (ViewBag.CurrentSort == "abrv_desc" && ViewBag.search == null)
{
    if (ViewBag.page != 1)
    {
        <span> @Html.ActionLink("<", "Index", new { page = ViewBag.page - 1, sortOrder = "abrv_desc" })</span>
    }
    int i = ViewBag.page;
    if (i == ViewBag.totalPageNumbers && i != 1)
    {
        <span>@Html.ActionLink((i - 1).ToString(), "Index", new { page = i - 1, sortOrder = "abrv_desc" })</span>
        <span>@Html.ActionLink((i).ToString(), "Index", new { page = i, sortOrder = "abrv_desc" })</span>
    }
    else if (ViewBag.totalPageNumbers == 1)
    {
        <span>@Html.ActionLink((i).ToString(), "Index", new { page = i, sortOrder = "abrv_desc" })</span>
    }
    else
    {
        <span>@Html.ActionLink((i).ToString(), "Index", new { page = i, sortOrder = "abrv_desc" })</span>
        <span>@Html.ActionLink((i + 1).ToString(), "Index", new { page = i + 1, sortOrder = "abrv_desc" })</span>
        <span>@Html.ActionLink(">", "Index", new { page = i + 1, sortOrder = "abrv_desc" })</span>
    }

}
else if (ViewBag.CurrentSort == null && ViewBag.search == null)
{
    if (ViewBag.page != 1)
    {
        <span> @Html.ActionLink("<", "Index", new { page = ViewBag.page - 1})</span>
    }
    int i = ViewBag.page;
    if (i == ViewBag.totalPageNumbers && i != 1)
    {
        <span>@Html.ActionLink((i - 1).ToString(), "Index", new { page = i - 1 })</span>
        <span>@Html.ActionLink((i).ToString(), "Index", new { page = i  })</span>
    }
    else if (ViewBag.totalPageNumbers == 1)
    {
        <span>@Html.ActionLink((i).ToString(), "Index", new { page = i  })</span>
    }
    else
    {
        <span>@Html.ActionLink((i).ToString(), "Index", new { page = i  })</span>
        <span>@Html.ActionLink((i + 1).ToString(), "Index", new { page = i + 1  })</span>
        <span>@Html.ActionLink(">", "Index", new { page = i + 1 })</span>
    }
}
else if (ViewBag.CurrentSort == "name_desc" && ViewBag.search != null)
{
    if (ViewBag.page != 1)
    {
        <span> @Html.ActionLink("<", "Index", new { page = ViewBag.page - 1, searchByName = ViewBag.search, sortOrder = "name_desc" })</span>
    }
    int i = ViewBag.page;
    if (i == ViewBag.totalPageNumbers && i != 1)
    {
        <span>@Html.ActionLink((i - 1).ToString(), "Index", new { page = i - 1, searchByName = ViewBag.search, sortOrder = "name_desc" })</span>
        <span>@Html.ActionLink((i).ToString(), "Index", new { page = i, searchByName = ViewBag.search, sortOrder = "name_desc" })</span>

    }
    else if (ViewBag.totalPageNumbers == 1)
    {
        <span>@Html.ActionLink((i).ToString(), "Index", new { page = i, searchByName = ViewBag.search, sortOrder = "name_desc" })</span>
    }
    else
    {
        <span>@Html.ActionLink((i).ToString(), "Index", new { page = i, searchByName = ViewBag.search, sortOrder = "name_desc" })</span>
        <span>@Html.ActionLink((i + 1).ToString(), "Index", new { page = i + 1, searchByName = ViewBag.search, sortOrder = "name_desc" })</span>
        <span>@Html.ActionLink(">", "Index", new { page = i + 1, searchByName = ViewBag.search, sortOrder = "name_desc" })</span>
    }
}
else if (ViewBag.CurrentSort == "abrv_desc" && ViewBag.search != null)
{
    if (ViewBag.page != 1)
    {
        <span> @Html.ActionLink("<", "Index", new { page = ViewBag.page - 1, searchByName = ViewBag.search, sortOrder = "abrv_desc" })</span>
    }
    int i = ViewBag.page;
    if (i == ViewBag.totalPageNumbers && i != 1)
    {
        <span>@Html.ActionLink((i - 1).ToString(), "Index", new { page = i - 1, searchByName = ViewBag.search, sortOrder = "abrv_desc" })</span>
        <span>@Html.ActionLink((i).ToString(), "Index", new { page = i, searchByName = ViewBag.search, sortOrder = "abrv_desc" })</span>
    }
    else if (ViewBag.totalPageNumbers == 1)
    {
        <span>@Html.ActionLink((i).ToString(), "Index", new { page = i, searchByName = ViewBag.search, sortOrder = "abrv_desc" })</span>
    }
    else
    {
        <span>@Html.ActionLink((i).ToString(), "Index", new { page = i, searchByName = ViewBag.search, sortOrder = "abrv_desc" })</span>
        <span>@Html.ActionLink((i + 1).ToString(), "Index", new { page = i + 1, searchByName = ViewBag.search, sortOrder = "abrv_desc" })</span>
        <span>@Html.ActionLink(">", "Index", new { page = i + 1, searchByName = ViewBag.search, sortOrder = "abrv_desc" })</span>
    }
}
else if (ViewBag.CurrentSort == null && ViewBag.search != null)
{
    if (ViewBag.page != 1)
    {
        <span> @Html.ActionLink("<", "Index", new { page = ViewBag.page - 1, searchByName = ViewBag.search })</span>
    }
    int i = ViewBag.page;
    if (i == ViewBag.totalPageNumbers && i != 1)
    {

        <span>@Html.ActionLink((i - 1).ToString(), "Index", new { page = i - 1, searchByName = ViewBag.search })</span>
        <span>@Html.ActionLink((i).ToString(), "Index", new { page = i, searchByName = ViewBag.search })</span>
    }
    else if (ViewBag.totalPageNumbers == 1)
    {
        <span>@Html.ActionLink((i).ToString(), "Index", new { page = i, searchByName = ViewBag.search })</span>
     }
    else
    {
        <span>@Html.ActionLink((i).ToString(), "Index", new { page = i, searchByName = ViewBag.search })</span>
        <span>@Html.ActionLink((i + 1).ToString(), "Index", new { page = i + 1, searchByName = ViewBag.search })</span>
        <span>@Html.ActionLink(">", "Index", new { page = i + 1, searchByName = ViewBag.search })</span>
    }
}
